@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
@* ADMIN STATISTIC INDEX *@
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">İstatistikler</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.CarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Lokasyonlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.LocationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Yazarlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Yazar Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.AuthorCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Bloglar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.BlogCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.BrandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Ortalama</span>
                    <h5 class="card-title mb-0 text-white">Saatlik Kiralama Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.HourlyAvgPricing.ToString("F2") ₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Ortalama</span>
                    <h5 class="card-title mb-0 text-white">Günlük Kiralama Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.DailyAvgPricing.ToString("F2") ₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Ortalama</span>
                    <h5 class="card-title mb-0 text-white">Haftalık Kiralama Fiyatı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.WeeklyAvgPricing.ToString("F2") ₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif</span>
                    <h5 class="card-title mb-0 text-white">Otomatik Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.AutomaticTransmissionCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif</span>
                    <h5 class="card-title mb-0 text-white">En Fazla Aracı Olan Marka</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.BrandName
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">En Fazla Yorum Alan Blog</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0 text-truncate" style="max-width: 100%;">
                            @ViewBag.BlogTitle
                        </h2>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">1000 Km'den Düşük Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarCountLessThan1000Km
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif</span>
                    <h5 class="card-title mb-0 text-white">Benzinli veya Dizel Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.GasolineOrDieselCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif</span>
                    <h5 class="card-title mb-0 text-white">Elektrikli Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.ElectricCarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">En Pahalı Araba Modeli</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.MostExpensiveCarModel
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">En Ucuz Araba Modeli</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CheapestCarModel
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>

