@model List<ResultCarPricingListWithModelDto>
<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">Araç Kiralama Ücretleri</h4>
            <p class="card-subtitle mb-4 font-size-13">
                Bazı araçların günlük, haftalık ve aylık kiralama ücretleri.
            </p>

            <div class="table-responsive">
                <table class="table table-centered table-hover table-xl mb-0" id="recent-orders">
                    <thead>
                        <tr>
                            <th class="border-top-0">Marka</th>
                            <th class="border-top-0">Model</th>
                            <th class="border-top-0">Günlük Fiyat</th>
                            <th class="border-top-0">Haftalık Fiyat</th>
                            <th class="border-top-0">Aylık Fiyat</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <span class="badge badge-soft-secondary p-2">@item.BrandName</span>
                                </td>
                                <td class="text-truncate">@item.Model</td>
                                <td class="text-truncate">@item.DailyPrice ₺</td>
                                <td class="text-truncate">@item.WeeklyPrice ₺</td>
                                <td class="text-truncate">@item.MonthlyPrice ₺</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>

        </div>
    </div>
</div>