@model List<ResultAllBlogWithAuthorsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@* ADMIN BLOG INDEX *@
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Listesi</h4>
                <p class="card-subtitle mb-4">Bloglarla ilgili işlemleri buradan gerçekleştirebilirsiniz. <span class="text-danger">Bloglarla ilgili bilgileri lütfen eksiksiz giriniz.</span></p>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Başlık</th>
                                    <th>Yazar</th>
                                    <th>Kategori</th>
                                    <th>Tarih</th>
                                    <th>Sil</th>
                                    <th>Blogu Aç</th>
                                    <th>Yorumlar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BlogID</td>
                                        <td>@item.Title</td>
                                        <td>@item.AuthorName</td>
                                        <td>@item.CategoryID</td>
                                        <td>@item.CreatedDate</td>
                                        <td><a href="/Admin/AdminBlog/RemoveBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-info">Blogu Aç</a></td>
                                        <td><a href="/Admin/AdminComment/Index/@item.BlogID" class="btn btn-info">Yorumlar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

